{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block extrahead %}
    <script type="text/javascript" src="jsi18n/"></script> 
    {{ block.super }}
    {{ form.media }}
{% endblock %}
<!-- {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %} -->
{% block content %}
<style>
    div.no-line{
        border-bottom: none
    }
    .form-row {
        border-bottom: None !important;
    }
    select {
        width: 163px;
    }
    input[type=text] {
        width: 149px !important;
    }
    label[for=id_is_file_folder_prefix] {
        width: 200px;
    }
</style>

<div class="colM">
    <form id="upload_poi_file" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <h2>Carregar fitxer de Campanya</h2>
        <br>
            <fieldset class="module aligned">
            <h3 style="margin-left: -10px">Fitxer de dades</h3>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} <strong>{{form.file_format.label_tag}}</strong> {{form.file_format}}
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} <strong>{{form.file.label_tag}}</strong> {{form.file}}
                </div>
            </div>
            <h3 style="margin-left: -10px">Permisos</h3>
            <div class="form-row">
                <div class="fieldBox">
                    {{ field.errors }} <strong>{{form.zones.label_tag}}</strong> {{form.zones}}
                </div>
            </div>
            <h3 style="margin-left: -10px">Propietats</h3>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} {{form.metadata.label_tag}} {{form.metadata}}
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} {{form.folder_pano.label_tag}} {{form.folder_pano}}
                </div>
                <div class="fieldBox">
                {{ field.errors }} {{form.folder_img.label_tag}} {{form.folder_img}}
                </div>
                <div class="fieldBox">
                {{ field.errors }} {{form.folder_pc.label_tag}} {{form.folder_pc}}
                </div>
            </div>
            </fieldset>
            
        <div class="submit-row">
            <div style="text-align: right;">
                <input type="submit" name="apply" value="DESAR" style="background: var(--default-button-bg)"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}
