{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block extrahead %}
    <script type="text/javascript" src="jsi18n/"></script> 
    {{ block.super }}
    {{ form.media }}
{% endblock %}
<!-- {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %} -->
{% block content %}
<style>
    div.no-line{
        border-bottom: none
    }
    .form-row {
        border-bottom: None !important;
    }
    select {
        width: 163px;
    }
    input[type=text] {
        width: 149px !important;
    }
    .laterals-config {
        display: none;
    }
</style>

<div class="colM">
    <form id="upload_poi_file" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        <h2>Carregar fitxer de Punts d'interès (POI)</h2>
        <br>
            <fieldset class="module aligned">
            <h3 style="margin-left: -10px">Fitxer de dades</h3>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} <strong>{{form.file_format.label_tag}}</strong> {{form.file_format}}
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                    <strong>{{form.file.label_tag}}</strong> {{form.file}}
                    <div class="error-list" style="white-space: pre-line;">{{ form.file.errors }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} <strong>{{form.has_laterals.label_tag}}</strong> {{form.has_laterals}}
                </div>
            </div>
            <div class="form-row laterals-config">
                <div class="fieldBox">
                {{ field.errors }} <strong>{{form.spherical_suffix.label_tag}}</strong> {{form.spherical_suffix}}
                </div>
            </div>
            <div class="form-row laterals-config">
                <div class="fieldBox">
                {{ field.errors }} <strong>{{form.spherical_suffix_separator.label_tag}}</strong> {{form.spherical_suffix_separator}}
                </div>
            </div>
            <h3 style="margin-left: -10px">Campanya</h3>
            <div class="form-row">
                <div class="fieldBox">
                    {{ field.errors }} <strong>{{form.campaign.label_tag}}</strong> {{form.campaign}}
                </div>
            </div>
            <h3 style="margin-left: -10px">Propietats extra</h3>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} {{form.epsg.label_tag}} {{form.epsg}}
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} <label for="id_x_translation">Translació X/Y/Z:</label> {{form.x_translation}}
                </div>
                <div class="fieldBox">
                {{ field.errors }} {{form.y_translation}}
                </div>
                <div class="fieldBox">
                {{ field.errors }} {{form.z_translation}}
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} {{form.file_folder.label_tag}} {{form.file_folder}}
                </div>
                <!-- <div class="fieldBox">
                {{ field.errors }} {{form.is_file_folder_prefix.label_tag}} {{form.is_file_folder_prefix}}
                </div> -->
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} {{form.tag.label_tag}} {{form.tag}}
                </div>
            </div>
            <div class="form-row">
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {{ form.date.label_tag }}
                    {{ form.date }}
                    {% if form.date.help_text %}
                        <div class="help">{{ form.date.help_text|safe }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="fieldBox">
                {{ field.errors }} {{form.angle_format.label_tag}} {{form.angle_format}}
                </div>
                <div class="fieldBox">
                {{ field.errors }} {{form.pan_correction.label_tag}} {{form.pan_correction}}
                </div>
            </div>
            </fieldset>
            
        <div class="submit-row">
            <div style="text-align: right;">
                <input type="submit" name="apply" value="DESAR" style="background: var(--default-button-bg)"/>
            </div>
        </div>
    </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Obtenemos el checkbox y el campo varchar
    var checkbox = document.getElementById("id_has_laterals");
    var lateralsConfig = document.getElementsByClassName("laterals-config");

    // Función para mostrar u ocultar el campo varchar
    function showHideLateralsConfig() {
      if (checkbox.checked) {
        [...lateralsConfig].forEach(field => field.style.display = "block")
      } else {
        [...lateralsConfig].forEach(field => field.style.display = "none")
      }
    }

    // Llamamos a la función al cargar la página
    showHideLateralsConfig();

    // Llamamos a la función cada vez que el valor del checkbox cambie
    checkbox.addEventListener("change", function() {
      showHideLateralsConfig();
    });
  });
</script>
{% endblock %}
