{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}
{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
<!-- {% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %} -->
{% block content %}
<style>
    div.no-line{
        border-bottom: none
    }
    .form-row {
        border-bottom: None !important;
    }
    select {
        width: 163px;
    }
    input[type=text] {
        width: 149px !important;
    }
    p.checkbox-esborrar {
        margin-left: 34px!important;
    }
    p.help-esborrar {
        margin-left: 24px!important;
    }
</style>

    <form id="{{action}}" action="" method="post">
    <div class="colM">
        {% csrf_token %}
        <p>
            Edita camps en comú dels múltiples registres seleccionats.
            Els camps que no es modifiquin no es veuran afectats.
        </p>
        <br>
        <fieldset class="module aligned ">
            {% for field in form %}
            <div class="form-row">
                <div class="fieldBox">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </fieldset>
        </div>
        {% for field in queryset %}
        <input type="hidden" name="_selected_action" value="{{ field.pk }}" />
        {% endfor %}
        <div class="submit-row">
            <div style="text-align: right;">
                <input type="hidden" name="action" value="{{action}}" />
                <input type="submit" name="apply" value="DESAR" />
            </div>
        </div>
    </div>
    </form>
{% endblock %}
